<div class="container">
  <div class="user-form" >
    <div class="text-center">
      <img src="assets/img/brand.png" />
    </div>
    <mat-form-field>
      <input matInput placeholder="Name" required />
    </mat-form-field>    
    <mat-form-field>
      <input matInput placeholder="Email" type="email" required />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" required />
    </mat-form-field>
    <br /><br />
    <button mat-raised-button color="primary" type="submit">Sign Up</button>

    <br/><br/>
    <button mat-button routerLink="/login" color="primary">
      Log In
    </button>
  </div>
</div>