.mat-icon{
	vertical-align: top;
	margin-right: 10px;
}
mat-chip.skill-chip{
	margin: 3px;
  min-height: 24px;
  background-color: #4caf50;
  color: #fff;
  font-weight: initial;
  font-size: 13px;
}
.follow-button{
	mat-icon{
		vertical-align: middle;
		margin-right: 0;
	}
}
.follow-div{
	mat-card{
		padding: 10px 20px !important;
	}
	margin-right: 50px;
	mat-card-content{
		cursor: pointer;
		img{
			width: 65px;
		}
		span{
			width: calc( 100% - 75px );
			font-size: 16px;
			font-weight: bold;
			i{
				font-size: 14px;
				color: gray;
				font-weight: normal;
			}
		}
	}
}