.user-tagline{
	color: gray;
  font-size: 16px;
  margin-left: 20px;
}
.user-description{
	font-size: 12px;
  color: gray;
  margin-left: 20px;
  max-height: 185px;
  overflow: hidden;
  position: absolute;
}
.skill-chip{
	font-size: 12px;
  min-height: 24px;
}